{% extends "base.html" %}

{% block content %}
<div class="card mb-3">
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h1 class="h3 mb-0">Host Information</h1>
    </div>

    <dl class="mb-0">
      <dt>Host Name</dt>
      <dd class="text-break">{{ system_identity.hostname }}</dd>
      <dt>Model</dt>
      <dd class="text-break">{{ system_identity.model or "—"}}</dd>
      <dt>Serial</dt>
      <dd class="text-break">{{ system_identity.serial or "—" }}</dd>
      <dt>Uptime</dt>
      <dd id="uptime" class="text-break">{{ uptime or "—" }}</dd>
    </dl>
  </div>
</div>

<script>
  const uptimeEl = document.getElementById("uptime");

  window.BussDCC.on("ui.system.uptime.updated", (payload) => {
    uptimeEl.innerHTML = payload
  });
</script>
{% endblock %}
